/*
    --primary: #efefef;
    --backgroundtext; #caebf2;
    --watermelon: #ff3b3f;
    --carbon: #a9a9a9;
*/




h1{
    text-align: center;
    font-size-adjust: 150%;
    background-color: #caebf2;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color:#ff3b3f;
}

#img{
    display: flex;
    justify-content:inherit;
    
}

menu{
	display:flex;
    flex-direction: row;
    margin: 0;
	text-decoration:underline;
    justify-content: flex-end;
    justify-content: space-evenly;
    align-items: center
	font-size:16px;
	padding:2%;
}

menu>a:hover{
	color #ff3b3f;
}

section h2{
    text-decoration: solid;
    font-size: 125%;
    text-decoration: underline;
    text-align: center;
}
#aboutmetxt{
    margin: 8%;
    
}
#projects {
    font-size: 100%;
    text-decoration: underline;
}

footer h4{
      text-align: center
  }

  @media screen and (max-width:768px) {
      main, nav {
          flex-direction: column;
      }
  }